.card-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2em;
}
.card {
    width: 18em;
    max-width: 100%;
    border-radius: 10%;
    aspect-ratio: 1;
}
