.tile-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.tile {
    width: 18em;
    max-width: 95vw;
    border-radius: 10%;
    aspect-ratio: 1;
}
