<script>
  // DOM generation helpers
  const h = (elName, attrs, ...children) => {
    const el = document.createElement(elName);
    for (const key in attrs) {
      if (key in el) {
        el[key] = attrs[key];
      } else {
        el.setAttribute(key, attrs[key]);
      }
    }
    if (children.length === 1 && typeof children[0] === "string") {
      el.innerHTML = children[0];
    } else {
      for (const child of children) {
        el.appendChild(child);
      }
    }
    return el;
  };
  const t = (text) => document.createTextNode(text);

  async function events(url, selector, futureOnly) {
    const resp = await fetch(url);
    let evs = await resp.json();
    evs = evs.filter(({ name }) => name.includes("MapRVA"));
    if (futureOnly) {
      evs = evs.filter((e) => new Date(e.date.end) > new Date());
    }

    const header = document.querySelector(selector);

    if (evs.length > 0) {
      const lis = [];
      for (const e of evs) {
        const displayText = e.location?.venue
          ? `${e.name} – ${new Date(e.date.start).toLocaleString()} @ ${e.location.venue}`
          : `${e.name} – ${new Date(e.date.start).toLocaleString()}`;
        lis.push(h("li", {}, h("a", { href: e.url }, displayText)));
      }
      const ul = h("ul", {}, ...lis);
      header.after(ul);
    } else {
      header.after(h("p", {}, t(`No ${header.textContent}`)));
    }
  }
  if (window.location.pathname === "/") {
    events("https://osmcal.org/api/v2/events/", "#upcoming-events", true);
    events("https://osmcal.org/api/v2/events/past/", "#recent-events", false);
  }
</script>
